# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
tfplan
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Lab Specific
lab_key.pem
scripts/configure_lab.py
UCTV-files/

# Logs and Temp
git_log.txt
/tfplan