.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
override.tf
override.tf.json
crash.log
.env
.vscode/# Terraform
.terraform/
.terraform/**
*.tfstate
*.tfstate.*
*.tfstate*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Azure
.azure/

# Editor
.vscode/
.idea/
*.swp

# Lab Secrets
lab_key.pem
*.pem
*.key
scripts/.venv/
# Added by ggshield
.cache_ggshield
